@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root
{
    --details-color: #0a3871;
    --details-hover-color: #072b61;

    --text-01-color: #495057;
    --text-02-color: #343a40;

    --bg-scroll-color: #eff1fa;
    --bg-color: #f3f5fc;
}

.dark
{
    --details-hover-color: #4b70b7;
    --details-color: #4a68a1;

    --text-01-color: #aaa;
    --text-02-color: #bbb;

    --bg-scroll-color: #333;
    --bg-color: #222830;

    color: #fff;
}

.dark aside                         
{ background-color: #323840; }

.dark .button-descriptografar:hover 
{ background-color: #fff1; }

.dark .button-copiar:hover          
{ background-color: #fff1; }

.dark .logo-container::before
{ background-color: #fff; }

.hidden
{ display: none !important; }

*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html
{
    font-family: 'Inter', sans-serif;
    max-width: 1920px;
    margin: auto;
}

body
{   
    display: flex;
    position: relative;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5em;
    
    background-color: var(--bg-color);
    min-height: 100vh;
    transition: .1s;
    min-width: 100%;
    padding: 40px;
}

button
{
    font-family: 'Inter', sans-serif;
    border-radius: 1.5em;
    font-size: 16px;
    cursor: pointer;
    padding: 1.5em;
    border: none;
}

/* ----- ----- Buttons styles ----- ----- */

.button-criptografar
{
    background-color: var(--details-color);
    color: white;
}

.button-descriptografar
{
    background-color: transparent;
    border: 1px solid var(--details-color);
    color: var(--details-color);
} 

.button-copiar 
{
    border: 1px solid var(--details-color);
    color: var(--details-color);
    background-color: transparent;
    width: 100%;
}

/*  ----- ----- Buttons Hover  ----- -----  */
.button-criptografar:hover      
{ background-color: var(--details-hover-color); }

.button-descriptografar:hover   
{ background-color: #0001; }

.button-copiar:hover            
{ background-color: #0001; }

/* ----- ----- Logo ----- ----- */

.logo-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 64px;
    height: 64px;
    cursor: pointer;
}

.logo-container::before
{
    content: '';
    position: absolute;
    z-index: -1;
    background-color: #222830;
    border-radius: 50%;
    transition: .35s;
    height: 0px;
    width: 0px;
}

.logo-container:hover::before
{
    height: 64px;
    width: 64px;
}

/* ----- ----- Main Form ----- ----- */

main
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-height: 1080px;
    padding-top: 100px;
    flex: 1;
}

.main-container
{
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    align-self: stretch;
    height: 100%;
}

.main-textarea::placeholder
{
    color: var(--details-color);
}

.main-textarea
{
    font-family: 'Inter', sans-serif;
    background-color: transparent;
    color: var(--details-color);
    text-transform: lowercase;

    line-height: 1.5;
    font-size: 32px;
    padding: 1em 0;
    width: 100%;
    flex: 1;
    
    outline: none;
    resize: none;
    border: none;
}

.main-p-info
{
    display: flex;
    align-items: center;
    text-wrap: balance;
    margin-top: 4em;
    gap: .5em;
}

.main-buttons-div
{
    display: flex;
    justify-content: space-between;
    padding: 1.5em 0 2em 0;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5em;
}

.main-buttons-div button
{
    min-width: 260px;
    flex: 1;
}

/* ----- ----- Aside ----- ----- */

aside
{
    align-self: stretch; /* preenche a altura em relação ao display de origem */
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    background-color: white;
    border-radius: 2em;
    max-height: 1000px;
    max-width: 400px;
    margin-bottom: 40px;
    padding: 2em;
    gap: 3.5em;

    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}

/* ----- ----- Aside Home ----- ----- */

#aside-home
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.5em;
}

#aside-home img
{
    max-width: 100%;
}

.aside-home-message
{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#aside-home h2
{
    color: var(--text-02-color);
    line-height: 1.2;
    font-size: 24px;
}

#aside-home p
{
    color: var(--text-01-color);
    text-wrap: balance;
    line-height: 1.5;
}

/* ----- ----- Aside Result ----- ----- */

#aside-result
{
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 2em;
    
    justify-content: space-between;
    align-self: stretch;
    height: 100%;
}

#result-textarea
{
    overflow-y: scroll;
    color: var(--text-01-color);
    text-transform: lowercase;
    word-break: break-all;
    text-wrap: balance;
    max-height: 480px;
    line-height: 1.5;
    text-align: left;
    font-size: 14px;
    max-width: 100%;
    font-size: 22px;
}

footer
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    flex-wrap: wrap;
    gap: 1em 4em;
    bottom: 0;

    background-color:  var(--details-color);
    border-top: 8px solid var(--bg-color);
    border-radius: 2em 2em 0 0;
    max-height: 120px;
    margin-top: 2em;
    color: #fff;
    padding: 1em;
    width: 100%;
}

footer a 
{
    padding: .25em;
    color: #fff; 
}

footer a:hover 
{ 
    color: #bbb; 
}

@media screen and (max-width: 1400px) 
{
    body
    {
        gap: 2em 1em;
    }

    header
    {
        position: absolute;
        left: 40px;
        top: 40px;
    }

    .main-textarea
    {
        font-size: 24px;
    }

    .logo-container
    {
        transform: translateX(-16px);
    }
}

@media screen and (max-height: 800px) 
{
    body
    {
        font-size: 14px;
    }

    button 
    {
        font-size: 12px !important;
    }

    #aside-home h2
    {
        font-size: 18px;
    }

    #aside-home p
    {
        font-size: 14px !important;
    }

    #aside-home img
    {
        width: 240px;
    }
    
    #result-textarea
    {
        max-height: 240px;
        font-size: 14px;
    }

    .main-textarea
    {
        font-size: 24px;
    }
}

@media screen and (max-width: 900px)
{
    header
    {
        position: absolute;
        left: 2em;
        top: 2em;
    }

    body
    {
        padding: 2em;
        gap: 2em;
    }

    aside
    {
        min-height: none;
        min-width: 100%;
    }

    .main-container
    {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    .main-textarea
    {
        font-size: 24px;
    }

    #aside-home img
    {
        display: none;
    }
    
    #result-textarea
    {
        font-size: 14px;
    }
}

/* -----  ----- ScrollBar -----  ----- */

::-webkit-scrollbar 
{
    height: 8px;
    width: 8px;
}

::-webkit-scrollbar-track 
{
    background: var(--bg-scroll-color);
}
   
::-webkit-scrollbar-thumb 
{
    background: var(--text-02-color); 
    box-sizing: border-box;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover 
{
    background: var(--text-01-color); 
}